
#canvas{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
  background: black;

}
#cool{
width: 100%;
position: absolute;
top: 10%;

}
h1{
  color: white;
text-align: center;
border: 5px solid peru;
padding: 30px;
width:25%;
margin: auto;
background:rgb(216, 85, 9);
}
h1:hover{
animation: bh 50s infinite;
}
@keyframes bh {
  3%{
    background: lightskyblue;
    border: 8px solid peru;
    padding: 40px;
  }
  60%{
    border: 8px solid peru;
    padding: 40px;
  }
  100%{
    border: 8px solid peru;
    padding: 40px;
  }
}

