/*this code affects the whole body and is used to make it
 look uniform*/
body{
  font-size: 30px;
  font-family:'sans-serif', cursive;
text-align: center;
width: fit-content;
margin: auto;
background-color:cadetblue;

}
/*this is the code that styles the color and dimensions 
of the sentence "cat house coffee"*/
.head {
  color:darkturquoise;
  padding: 1%;
margin: 5%;
font-weight: 1000;
}
/*this is the code that styles and positions the prices where i want them*/
.article {
  color:darkturquoise;
  border: 6px solid darkgoldenrod;
  width:max-content;
  margin: auto;
  font-weight: 1000;
}
.footer {
  color:darkturquoise;
  border: 6px solid darkgoldenrod;
  width: fit-content;
  margin: auto;
  font-weight: 1000;
}
#e {
background-image:url(https://static.vecteezy.com/system/resources/thumbnails/002/921/118/small/cartoon-cute-cat-in-cup-coffee-free-vector.jpg);
  background-size: 101% 101%;
  background-repeat: no-repeat;
  margin:-8% auto;
border: 9px solid darkgoldenrod;
}

#cat {
  background-image: url(https://media.istockphoto.com/vectors/cute-cartoon-maneki-neko-cat-vector-id1266632962)
  , url(https://media.istockphoto.com/vectors/cute-cartoon-maneki-neko-cat-vector-id1266632962);
  border: 9px solid darkgoldenrod;
  background-repeat: no-repeat,no-repeat;
  background-size: 18% 18%;
    background-position: bottom left, bottom right;
   padding: 1%;
}
#owner {
color: darkturquoise;
border: 6px solid darkgoldenrod;
width: fit-content;
margin: 3% auto;
font-weight: 1000;
}
#info {
color:cyan;
border: 6px solid darkgoldenrod;
background-color: ivory;
width: fit-content;
margin: 6% auto;
}
span {
  color: brown;
}
#r {
  color:green;
}
button {
  color: darkturquoise;
  border: 6px solid darkgoldenrod;
  width: fit-content;
  margin: auto;
  transition: .3s;
}
button:hover {
  color: red;
  border: 2px solid red;
}
#dog {
  border: 9px solid turquoise;
}
  @media  screen and (min-width:550px) and (max-width:800px){
  body{
    font-size: 40px;
    font-family:'sans-serif', cursive;
  }
}
@media  screen and (max-width:900px) and (min-width:550px){
  body{
    font-size: 24px;
    font-family:'sans-serif' cursive;
}
}